<% provide(:title, "About") %>
<h1>About</h1>

<p>I'm <strong>Andrew Price</strong> and I run Blender Guru. I'm 27 years old and live in <strong>Brisbane, Australia.</strong></p>

<p><%= image_tag("about-img.png", class: "thumbnail") %></p>

<p>I started using Blender in 2004, as a hobby but now use it everyday, creating <strong>explosions</strong>, <strong>space ships</strong> and <strong>other cool stuff</strong> as my day job :)</p>
<%=  %>

<p>The goal of this site is to help you understand blender, and create amazing results you can be proud of.</p>

<h3>My Story</h3>

<p>One ngith in 2004 I was playing <strong>Need For Speed II</strong>, and admiring the beauty of 3d car.</p>

<p>I thought how cool it would be if I could create my own car in 3d. So i wnet online and searched for "free 3d software."</p>

<p>I went to a few sithes before stumbling upon <strong>Blender.org</strong>, and saw this render:</p>

<p><%= image_tag("about-img01.png", class: "thumbnail") %></p>

<p>The image that got me started in blender.</p>

<p>I was immediately sold. I remember making a commitment right then and there that I was going to learn how to use this software "Blender" until I could make my own car.</p>

<h3>How I learned Blender</h3>

<p>my first week with Blender could best be described as embarrassing.</p>

<p>I had absolutely <strong>no idea</strong> what I was doing. In fact, if you check my post history on blenderartists.org you can see what a true burden I was to the communit:</p>

<p><%= image_tag("about-img02.png", class: "thumbnail") %></p>

<p>*groan* another thread by andrewprice</p>

<p>My learning style was the very definition of "playing it by ear". Floating from tutorial to tutorial, finishing some and abandoning others.</p>

<p><%= image_tag("about-img03.png", class: "thumbnail") %></p>

<p>One of the few tutorials at the time: How to make a gingerbread man</p>

<p>It was a looooong and rough road. but I stayed committed, learning from tutorials and whatever I could get my hands on.</p>

<p>Until 4 years later, I finally achieved my goal... creating my own car in Blender.</p>

<p><%= image_tag("about-img04.png", class: "thumbnail") %></p>

<p>Yaaay!!... now what?</p>

<h3>Why Blender Guru</h3>

<p>When I finished high school I had no job prospects.</p>

<p>I knwe that I wanted to user Blender fulltime, but nobody was going to hire me.</p>

<p>So I started BlenderGuru.com - a free tutorial site, aimed at attracting freelancing work!</p>

<p>After a year I was getting lots of viewers, but no freelance work. I was lost and very seriously considering giving it up.</p>

<p>But then I attended the 2009 Blender conference and was shocked to discover that people actually knwe me and loved my tutorials. But most striking of all, some where asking if I'd write a book!</p>

<p>I was shocked. People actually like my work and my tutorials?</p>

<p>Then it clicked.</p>

<p>I could run Blender Guru fulltime and sell training products.</p>

<p>A year later I release <strong>The Wow Factor</strong>, and today my most recent product is <strong>The Architecture Academy</strong> with over 1,000 members.</p>

<h3>My Life</h3>

<p>I'm now married to a beautiful girl, Chloe.</p>

<p><%= image_tag("about-img05.png", class: "thumbnail") %></p>

<p>We've been together for 5 years and are happily living in Australia :)</p>

<p>When I'm not with her or using Blender, I also enjoy hiking:</p>

<p><%= image_tag("about-img06.png", class: "thumbnail") %></p>

<p><%= image_tag("about-img07.png", class: "thumbnail") %></p>

<p>And I'm currently working with Colin Levy on a new short film to be released in 2016:</p>

<p><%= image_tag("about-img08.png", class: "thumbnail") %></p>

<p>Keep in touch by following me on
	<%= link_to "Twitter", "https://www.twitter.com" %>
	or liking my page on
	<%= link_to "Facebook", "https://www.facbook.com" %>
</p>